<div class="container-fluid">
    <h1>{{ users.length }} users registered with below details</h1>
    <table class="table table-bordered">
        <thead>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Topic</th>
            <th>Time preference</th>
            <th>Subscribed?</th>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.phone }}</td>
                <td>{{ user.topic }}</td>
                <td>{{ user.timePreference }}</td>
                <td>{{ user.subscription  ? 'Yes':'No' }}</td>
            </tr>
        </tbody>
    </table>
</div>
