<!-- <app-bootstrap-practice></app-bootstrap-practice> -->
<!-- <app-two-way-data-binding></app-two-way-data-binding> -->
<!-- <app-enable-button></app-enable-button> -->
<!-- <app-click-example></app-click-example> -->
<!-- <app-input-event-demo></app-input-event-demo> -->
<!-- <app-styles-dmeo></app-styles-dmeo> -->
<!-- <app-class-binding></app-class-binding> -->
<!-- <app-template-reference-variable></app-template-reference-variable> -->
<!-- <app-if-example></app-if-example> -->
<!-- <app-if-else-example></app-if-else-example> -->
<!-- <app-switch-example></app-switch-example> -->
<!-- <app-ng-for-example></app-ng-for-example> -->
<!-- <app-angular-pipes></app-angular-pipes> -->
<!-- <app-employees-report></app-employees-report> -->
<!-- <app-employees-report-type2></app-employees-report-type2> -->
<!-- <app-get-employees-from-json></app-get-employees-from-json> -->


<!-- <div style="text-align: center;">
    <h1>Routing and Navigation</h1>
</div>
<nav>
    <a routerLink='/departments' routerLinkActive='active' class="right-space">Departments</a>
    <a routerLink='/employees' routerLinkActive='active' class="right-space">Employees</a>
    <a routerLink='/feedback' routerLinkActive='active'>Feedback</a>
</nav>
<router-outlet></router-outlet> -->

<app-forms-example1></app-forms-example1>
